<% provide(:title, "Home") %>

<h1>Hello and welcome to our shared flat!</h1>
<p>What do you wish to be informed today?</p>

<a href="#">News</a>
<a href="#">Q&amp;A - Questions and Answers</a>
<a href="#">Calendar</a>
<a href="#">House Rules(static)</a>
<a href="#">Cleaning Rota</a>
<a href="#">People/Members</a>
