<% provide(:title, "Housework") %>
<h1>Housework Rota</h1>
<h2 class="lead">Our current housework rota plan (static version) until end of this year.</h2>

<div class="row">
	<%= image_tag("/images/housework_rota_2016.png", alt: "housework rota (static)", class: "img-responsive") %>
</div>
