<% provide(:title, "Rules") %>
<h1>General House Rules</h1>
<h2 class="lead">Yes, communities cannot exist without rules and we also think it is a good idea to have some in our
  flat. <br> If you have any questions or you just want to discuss these rules don't be afraid to speak with your
  flatmates.</h2>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<ol id="rules">
      <!-- TODO: dynamic house rules (in admin menu) -->
			<li>Clean sieve and bathtub after every showering</li>
			<li>Housework rota will be move over clockwise every week</li>
			<li>Last one who leaves the flat has to switch off the coffee machine and clean filter and coffee pot</li>
			<li>Switch off the radio if you leave (switch not too far to the right, else alarm will be activated)</li>
			<li>Lock the door every morning and evening</li>
			<li>Clean cooktop and hearth furnace after every cooking</li>
			<li>Takey away all returnable bottles/waste glas once per week</li>
		</ol>
	</div>
</div>

