<% provide(:title, "Rules") %>
<h1><%= t 'static-pages.rules.title' %></h1>
<h2 class="lead"><%= t 'static-pages.rules.sub-headline' %></h2>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<ol id="rules">
      <!-- TODO: dynamic house rules (in admin menu) -->
			<li>Clean sieve and bathtub after every showering</li>
			<li>Last one who leaves the flat has to switch off the coffee machine and clean filter and coffee pot</li>
			<li>Unlock the door every morning and lock it every evening</li>
			<li>Clean cooktop and hearth furnace after every cooking</li>
			<li>Takey away all returnable bottles/waste glas once per week</li>
		</ol>
	</div>
</div>
