<% provide(:title, "Rules") %>
<h1>General House Rules</h1>

<ol>
	<li>Clean sieve and bathtub after every showering</li>
	<li>Housework rota will be move over clockwise every week</li>
	<li>Last one who leaves the flat has to switch off the coffee machine and clean filter and coffee pot</li>
	<li>Switch off the radio if you leave (switch not too far to the right, else alarm will be activated)</li>
	<li>Lock the door every morning and evening</li>
	<li>Clean cooktop and hearth furnace after every cooking</li>
	<li>Takey away all returnable bottles/waste glas once per week</li>
</ol>
