# Ignore Mac OS related stuff
*~
.DS_Store

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# prevent conflicts between Spring and Git when using Guard
/spring/*.pid

# Ignore all files in public/uploads
/public/uploads/*

# Ignore all files in public/images
/public/images/*

# Ignore all passenger related files
passenger*

# avoid issues because of codeclimate generated stuff
/coverage/*
coverage
vendor/bundle
public/assets
coverage
.env
