<div class="row">
  <div class="col-md-4 col-sm-4">
  	<b><%= comment.user ? comment.user.name : "Deleted User" %></b><br>
  	<span class="small"><%= comment.created_at %></span>
  </div>

  <div class="col-md-8 col-sm-8">
  	<%= simple_format(comment.body, class: 'small') %>
  </div>
</div>
