<%= form_for([@info, @info.comments.build]) do |f| %>
	<div class="form-group">
		<%= f.text_area :body, size: '20x5', class: 'form-control', placeholder: "#{ t 'comment.form.placeholder' }" %>
	</div>
	<div class="btn-group">
		<%= f.submit yield(:button_text), class: 'btn btn-primary' %>
	</div>
<% end %>

<br>
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <%= link_to "#{ t 'comment.form.link-back' }", infos_path %>