@import 'bootstrap-sprockets';
@import 'bootstrap';

// mixins, variables, etc. =============
$gray-medium-light: #eaeaea;
$bg-color: #fafafa;
$border-color: #efefef;
$border-formfields: #bbb;
$error-red: #f00;
$white: #fff;

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color) {
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  -moz-box-shadow: $horizontal $vertical $blur $spread $color;
  -ms-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow: $horizontal $vertical $blur $spread $color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// universal ==========================
body {
  background-color: $bg-color;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.img-responsive {
  margin: 0 auto;
}

// typography ========================
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  margin-top: 4px;
}

p {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: .3px;
  line-height: 1.5em;
}

// header ===========================
#logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.alert {
  font-size: 1.2em;
  font-weight: bold;
}

.navbar-nav {
  li {
    a {
      text-transform: uppercase;
    }
  }
}

// content ===========================
#rules {
  li {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 1.5em;
  }
}

.info {
  @include border-radius(4px);
  @include box-shadow(0, 6px, 4px, -4px, $gray-medium-light);

  background-color: $white;
  border: solid 1px $border-color;
  margin-bottom: 10px;
  padding: 10px 8px 2px;

  .img-responsive {
    margin-top: 2px;
  }
}

.question,
.list {
  background-color: $white;
  border: solid 1px $border-color;
  margin-bottom: 10px;
  padding: 10px 4px 12px 8px;

  .small {
    margin-right: 15px;
  }

  h4 {
    margin: 5px 12px 12px;
  }

  p {
    margin: 0 10px;
  }
}

.panel {
  h3 {
    text-align: center;
  }

  .list-group-item {
    font-size: 1.2em;
  }
}

.panel-heading {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.rota {
  h3 {
    color: $gray-light;
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
  }

  .img-responsive {
    margin-bottom: 25px;
  }
}

.media-body {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .3px;
  line-height: 1.3em;
}

// footer ============================
footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-bottom: 20px;
  margin-top: 45px;
  padding-top: 5px;
  text-align: center;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }
}

// forms =============================
input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $border-formfields;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

#error-explanation {
  color: $error-red;

  ul {
    color: $error-red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

// miscellaneous =====================
.debug_dump {
  @include box-sizing;

  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}
