<% provide(:title, "Admin | #{ t 'admin.users.edit.title' }") %>
<% provide(:button_text, "#{ t 'form.button-save' }") %>
<h1><%= "#{ t 'admin.users.edit.title', name: @user.name }" %></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'form' %>
  </div>
</div>
