	<div class="col-md-4">
		<div class="col-md-12 col-sm-6 col-xs-7">
			<p><%= t 'info.index.marginal.head1' %></p>
      <!-- TODO: Maps-implementation dynamic from admin menu -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2425.6145709826096!2d13.38693212634847!3d52.55849642345481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a8523c83cbea91%3A0x47935e1cf6016386!2sSoldiner+Str.+88%2C+13359+Berlin!5e0!3m2!1sde!2sde!4v1446249804238" width="280" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="col-md-12 col-sm-6 col-xs-6">
			<p><%= t 'info.index.marginal.head2' %></p>
      <!-- TODO: public transport widget dynamic from admin menu -->
			<iframe src="http://www.bvg.de/bvgapi/WebWidgets/fahrinfo.html?c=3&w=280&t=1&f=" width="280" height="400" name="iFrame">
			</iframe>
		</div>
	</div>