<% provide(:title, "#{ t 'info.edit.title' }") %>
<% provide(:button_text, "#{ t 'info.edit.button-text' }") %>
<h1><%= t 'info.edit.title' %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'form', info: @info %>
  </div>
</div>
